/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * 1) Unordered list of links where the each link targets different information
 */

 /**
  * Vertical tabs
  * 1) Displays tabs on the right and the body on the left
  */

.c-tabs--vertical {
	display: flex;
	margin-bottom: 1rem;
}

/**
 * Tabs list
 */
.c-tabs {
	position: relative;
}

.c-tabs__list {
	font-family: "Roboto", helvetica, arial, sans-serif;
	display: flex;
	margin-left: 0;
	margin-bottom: 25px;
	overflow-x: scroll;
	overflow-y: hidden;	
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $color-gray-27;
	}

	/**
	 * Tabs list within vertical tabs
	 */
	.c-tabs--vertical & {
		border: 1px solid $color-gray-27;
		display: block;
		order: 1;
	}
}

@media (min-width: 992px) {
	.c-tabs__list {
		overflow: auto;
	}
}

.c-tabs__item {
	display: block;
    margin-bottom: 0;
    flex-shrink: 0;
}

@media (min-width: 768px) {
	.tabs__item {
		display: inline-block;
	}
}

.c-tabs__item + .c-tabs__item {
	margin-left: 40px;
}

 /**
 * Tabs list
 * 1) Overlap the tabs bottom border
 */
.c-tabs__link {
	display: block;
	text-align: center;
	position: relative;
    text-transform: uppercase;
	font-size: 12px;
    letter-spacing: .5px;
    font-weight: 500;
    padding-bottom: 15px;
	text-decoration: none;
	line-height: 1.3333333333;
	
	&::after {
		content: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $tabs_active;
		z-index: 1;
	}

	/**
	 * Active tabs link
	 * Focus tabs link
	 * Hover tabs link
	 */
	&:hover,
	&:focus,
	&.is-active {
		font-weight: 500;
		color: $tabs_active;

		&::after {
			content: '';
		}
	}
	&.is-active {
		cursor: default;
	}

	/**
	 * Tabs link within vertical tabs
	 */
	.c-tabs--vertical & {
		border: 0;
		border-bottom: 1px solid $color-gray-27;

		/**
		 * Last tabs item link within vertical tabs
		 */
		.c-tabs__item:last-child & {
			border-bottom: 0;
		}

		/**
		 * Active tabs link within vertical tabs
		 */
		&.is-active {
			background: $color-gray-13;
		}
	}
}


/**
 * Tab Body
 */
.c-tabs__body {
	padding: 0;
	border-top: 0;

	/**
	 * Tabs body within vertical tabs
	 * 1) Take up the remaining space that the actual tabs do not take up
	 */
	.c-tabs--vertical & {
		flex: 1; /* 1 */
		border: 1px solid $color-gray-27;
		border-right: 0;
	}

}

/**
 * Tab Panel
 * 1) Display by default, and only hide if JS is available
 */
.c-tabs__panel {
	display: none;
	padding: 0;

	/**
	 * Active tabs panel
	 */
	&.is-active {
		display: block;
	}
}

/**
 * Tabs list in reference site
 * 1) Wrap tabs
 * 2) Remove overflow
 * 3) Remove shadows for overflow
 */
 .c-tabs__list {
	@media all and (min-width: $bp-large) {
	  flex-wrap: wrap; /* 1 */
	  overflow-x: inherit; /* 2 */
	  overflow-y: inherit; /* 2 */
	}
  }
  