<!DOCTYPE html>
<html lang="{{ site.lang }}">

	{% include head.html %}

	<body>

        {% if site.gtm_id %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_id }}" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <div class="l-page-layout l-page-layout--two-column-fixed">

            <div class="l-page-layout__secondary">

                {% include header.html %}

            </div><!--end l-page-layout__secondary-->

            <div class="l-page-layout__main">
                <main>
                	<div class="l-container" role="main">

                        {% include breadcrumbs.html %}

                        {{ content }}

	                </div><!--end l-container-->
				</main><!--end main-->

                {% include footer.html %}

            </div>

        </div>

        {% include scripts.html %}
	</body>

</html>
